body{
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #1F2937;
    
    font-size: 18px;

    display: flex;
    justify-content: space-around;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
.author{
    display: flex;
    justify-content: flex-end;
}
.btn{
    display: flex;
    justify-content: center;
    width: 75px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: #F9FAF8;
    background-color: #3882F6;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 10px;
}
.content{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    padding: 25px 140px;
}
.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
}

/* Resize images */
.img img {
    width: 120px;
    height: 150px;
    border-radius: 25px;
    border: blue 3px solid;
    flex-wrap: wrap;
}
.heading-container{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    background-color: #1F2937;
    
}
.heading{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
}
.left{
    display: flex;
    align-items: flex-end;
}
.first{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px 140px;
    gap: 15px;
    text-align:left
}
.first-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    flex: 1;
}
.first-first-text{
    font-weight: 700;
}
.first-right{
    display: flex;
    flex-direction: column;;
    flex-wrap: wrap;
    flex: 1;
}
.first-right img{
    max-width: 300px;
    height: auto;
}
.main-quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 118px;
}
.quote{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 25px 140px;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 24px;
    font-style: italic;
}
.right{
    display: flex;
    gap: 20px;
}
footer{
    margin-top: auto;
    padding: 25px;
    background-color: #1F2937;

    display: flex;
    justify-content: center;
}
.footer{
    
    color: #E5E7EB;
}
.subtitle{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
    font-size: 10px;
}
